@{
    ViewData["Title"] = "Home Page";
}
<br />
<div style="display:flex">
    <table class="table table-bordered table-striped" style="width:50%">
        <thead>
            <tr>
                <th>
                    Colores
                    <a asp-action="CreateColor" class="btn btn-primary" style="float:right ">Añadir</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in ViewBag.Colores)
            {
                <tr>
                    <td width="50%">
                        @obj.Nombre
                    </td>
                </tr>
            }
        </tbody>
    </table>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <table class="table table-bordered table-striped" style="width:50%">
        <thead>
            <tr>
                <th>
                    Telas
                    <a asp-action="CreateTela" class="btn btn-primary" style="float:right ">Añadir</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in ViewBag.Telas)
            {
                <tr>
                    <td width="50%">
                        @obj.Nombre
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div style="display:flex">
    <table class="table table-bordered table-striped" style="width:50%">
        <thead>
            <tr>
                <th>
                    <p style="margin-bottom:25px">Materias Primas<p/>
                </th>
                <th>
                    <p style="margin-bottom:25px">Color</p>
                </th>
                <th>
                    Tela
                    <a asp-action="CreateMateriaPrima" class="btn btn-primary" style="float:right ">Añadir</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in ViewBag.MateriasPrimas)
            {
                <tr>
                    <td width="35%">
                        @obj.Nombre
                    </td>
                    <td width="25%">
                        @foreach (var c in ViewBag.Colores)
                        {
                            @if (c.Id == obj.Color)
                                @c.Nombre
                        }
                    </td>
                    <td width="40%">
                        @foreach (var t in ViewBag.Telas)
                        {
                            @if (t.Id == obj.Tela)
                                @t.Nombre
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <table class="table table-bordered table-striped" style="width:50%">
        <thead>
            <tr>
                <th>
                    <p style="margin-bottom:25px">Prendas</p>
                </th>
                <th>
                    Consumo por unidad
                    <a asp-action="CreatePrenda" class="btn btn-primary" style="float:right ">Añadir</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in ViewBag.Prendas)
            {
                <tr>
                    <td width="40%">
                        @obj.Nombre
                    </td>
                    <td width="60%">
                        @obj.ConsumoInvUnd mts
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>